#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.hamburger {
  cursor: pointer;
}

.imageAndmenu {
  position: relative;
}
.Dropdown {
  position: absolute;
  right: 0;
  top: 32px;
  margin: 0 auto;
  width: 100px;
  height: 200px;
  background-color: rgb(185, 185, 185);
}
