#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.tableTitle{
  font-size: 28px;
  font-weight: 600;
}

.hamburger {
  cursor: pointer;
}

.imageAndmenu {
  position: relative;
}
.Dropdown {
  position: absolute;
  right: 0;
  top: 32px;
  margin: 0 auto;
  width: 100px;
  
}

/* for sidebar menu */
.checkboxArea {
  padding: 12px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  background-color: rgb(237, 237, 237);
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid rgb(167, 167, 167);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
  margin-top: 12px;
}

.sidebarShow {
	display: block;
}
.sidebarHide {
	display: none;
}
.statusButton {
	border: 2px solid rgb(114, 114, 114);
	width: 140px;
	height: 40px;
	padding: 8px;
	border-radius: 8px;
	background-color: rgb(226, 226, 226);
	cursor: pointer;
}

/* For Main Table */

.Container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	text-align: start;

	background-color: rgb(235, 235, 235);
}

.topHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	margin: 10px;
}
.columnHeading {
	font-size: 20px;
	font-weight: 700;
	border-bottom: 2px solid rgb(56, 55, 55);
  color: rgb(44, 44, 105);
	padding: 16px;
	padding-left: 6px;
	padding-right: 6px;
}
.elements {
	padding: 16px;
	font-size: 20px;
	font-weight: 600;
	border-bottom: 1px solid rgb(102, 102, 102);
	padding-left: 6px;
	padding-right: 150px;
}

@media screen and (max-width: 600px) {
  .Container {
    flex-direction: column;
  }
  .column {
    background-color: rgb(235, 235, 235);
    width: 100%;
    padding-left: 25px;
  }

  .Dropdown {
    right: 80px;

  }
 
}
